*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.col-1{ width: 8.33%;}
.col-2{ width: 16.66%;}
.col-3{ width: 25%;}
.col-4{ width: 33.33%;}
.col-5{ width: 41.66%;}
.col-6{ width: 50%;}
.col-7{ width: 58.33%;}
.col-8{ width: 66.66%;}
.col-9{ width: 75%;}
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%;}

[class*=col-]{
    border: 1px solid red;
    float: left;
}



.header{
    height: 100px;
}

.menu{
    height: 50px;
}

.menu-bar li{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    
}



.content1{
    height: 300px;
}

.content2{
  height: 350px;
}

.content3{
    height: 300px;
}

.footer{
    height: 200px;
}

.footer2{
    height: 50px;
}

.container{
    width:90%;
    margin: 0 auto;
    height: auto;
}

.content4{
    height: 150px;
}

.row::after{
   content: '';
   clear: both;
   display: block;
} 